img {
  display: block;
  height: 100px;
  width: 300px;
  margin: auto;
}

ul, ol, li {
  font-family: Garamond, serif; font-size: 22px;
}

p {
  text-align: center;
  font-family: Garamond, serif;
  font-size: 30px;
  font-weight: bold;
}
div {
  border-radius: 5px;
  border: 2px solid #6495ED;
  background-color: #BCD2EE;
  height: 50px;
  width: 120px;
  margin: auto;
  text-align: center;
}

a {

  text-decoration: none;
  color: #3D59AB;
  font-family: Verdana, sans-serif;
}
 body { background-image: url("http://www.tarheeltimes.com/photos/unc_wallpaper/Tar_Heel_Basketball_Court.jpg");
 margin: auto; }
